.over {
  background-image: none !important;
  background-color: var(--g-color-line-positive) !important;
}

.current {
  background-image: none !important;
  background-color: var(--g-color-base-generic);
}
