$block: '.user-edit';

#{$block} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-inputs-mb {
    margin-bottom: 10px;
  }
  .big-error {
    margin-bottom: 15px;
  }
  .action-button {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
