$block: '.wrapper';

#{$block} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-width: 100%;
  height: 100%;
  box-sizing: border-box;

  &__content {
    width: 95vw;
    max-width: 1280px;
    height: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
}
