$block: '.base-checkbox';

#{$block} {
  &__subheader {
  }
  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    margin-top: 5px;
    label:not(:last-child) {
      margin-bottom: 5px;
    }

    &_validation_invalid {
      border: 1px solid var(--g-color-line-danger);
      border-radius: 6px;
      padding: 7px 0 7px 15px;
      margin-bottom: 2px;
    }
  }
}
