$block: '.editorjs-main';

#{$block} {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;

  &_validation_invalid {
    border: 1px solid var(--g-color-line-danger);
  }
}

.error-message {
  color: var(--g-color-line-danger);
  margin-bottom: 10px;
}
